/* App.css */

#root {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box; 
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Separadores Curvos */
.curved-separator {
  position: relative;
}

.curved-separator::after {
  content: '';
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  bottom: 0; 
  left: 0;
  right: 0;
  width: 100%;
  background: #2C9E90; 
  height: 100px; 
  z-index: 10; 
}

.curved {
  position: relative;
  background: #2C9E90;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}